/*colors*/
$black-text: #333333;
$lightgrey: #efefef;
$accent-green: #66c05d;

/* global breakpoints */

$minwidth: 320px;
$mw: 1396px;

/* Fonts */

/* $font-playfair: 'Playfair Display', 'Times New Roman', serif;
$font-prata: 'Prata', 'Times New Roman', serif;
$font-ptsans: 'PT Sans', 'Arial', sans-serif; */
