.btn {
  font-size: 1.4rem;
  border-radius: 4rem;
  padding: 1.2rem 2.6rem;

  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    background: $accent-green;
    opacity: 0.8;
    color: #ffffff;
  }
}
